#define ZMK_POINTING_DEFAULT_SCRL_VAL 100

#include <input/processors.dtsi>
#include <dt-bindings/zmk/input_transform.h>
#include <zephyr/dt-bindings/input/input-event-codes.h>
#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/pointing.h>

#include <scroll-snap.dtsi>
// -------------------- Constants --------------------


// Layer Indexes

#define DEFAULT 0
#define SYMBOLS 1
#define FUNCS_NUMPAD 2
#define ARROW 3
#define MOUSE 4
#define BLUETOOTH 5
#define SCROLL 6

// -------------------- JIS Key Conversion Macros (日本語キーボード変換定義) --------------------

#define JP_DQUOTE       AT                // "
#define JP_AMPERSAND    CARET             // &
#define JP_QUOTE        AMPERSAND         // '
#define JP_EQUAL        UNDER             // =
#define JP_CARET        EQUAL             // ^
#define JP_YEN          0x89              // ¥
#define JP_PLUS         COLON             // +
#define JP_TILDE        PLUS              // ~
#define JP_PIPE         LS(0x89)          // |
#define JP_AT           LEFT_BRACKET      // @
#define JP_COLON        SINGLE_QUOTE      // :
#define JP_ASTERISK     DOUBLE_QUOTES     // *
#define JP_BACKQUOTE    LEFT_BRACE        // `
#define JP_UNDERSCORE   LS(0x87)          // _
#define JP_LBRACKET     RIGHT_BRACKET     // [
#define JP_RBRACKET     BACKSLASH         // ]
#define JP_LPAREN       ASTERISK          // (
#define JP_RPAREN       LEFT_PARENTHESIS  // )
#define JP_LBRACE       RIGHT_BRACE       // {
#define JP_RBRACE       PIPE              // }
#define JP_KANA         LANGUAGE_1        // かな
#define JP_EISU         LANGUAGE_2        // 英数
#define JP_HANZEN       GRAVE             // 半角/全角

// -------------------- Behavior Parameters --------------------

&mt {
    flavor = "balanced";
    tapping-term-ms = <250>;
    quick-tap-ms = <100>;
    require-prior-idle-ms = <100>;
};

&lt {
    tapping-term-ms = <250>;
    quick-tap-ms = <100>;
    require-prior-idle-ms = <100>;
    flavor = "balanced";
};

&trackball {
    automouse-layer = <4>;
    scroll-layers = <6>;
};

&mkp_input_listener { input-processors = <&zip_temp_layer 4 3000>; };

/ {
    // -------- Combos --------

    combos {
        compatible = "zmk,combos";

        default_esc {
            bindings = <&kp ESC>;
            key-positions = <0 1>;
            layers = <0>;
        };

        tab {
            bindings = <&kp TAB>;
            key-positions = <1 2>;
            layers = <0>;
        };

        shift_tab {
            bindings = <&kp LS(TAB)>;
            key-positions = <2 3>;
            layers = <0>;
        };

        bt_setting {
            bindings = <&lt 5 LA(B)>;
            key-positions = <25 35>;
            layers = <0>;
        };

        hyphen {
            bindings = <&kp MINUS>;
            key-positions = <7 8>;
            layers = <0>;
        };

        cpline {
            bindings = <&copy_line>;
            key-positions = <6 7>;
            layers = <0>;
        };

        cpbef {
            bindings = <&copy_before>;
            key-positions = <17 18>;
            layers = <0>;
        };

        cpaft {
            bindings = <&copy_after>;
            key-positions = <29 30>;
            layers = <0>;
        };
    };

    // -------- Macros --------

    macros {
        exit_AML: exit_AML {
            compatible = "zmk,behavior-macro";
            wait-ms = <0>;
            tap-ms = <0>;
            #binding-cells = <0>;
            bindings = <&tog_off 4>;
            label = "exit_AML";
        };

        kp_exit_AML: kp_exit_AML {
            compatible = "zmk,behavior-macro-one-param";
            wait-ms = <0>;
            tap-ms = <0>;
            #binding-cells = <1>;
            bindings = <&macro_param_1to1 &kp MACRO_PLACEHOLDER &exit_AML>;
            label = "KP_exit_AML";
        };

        copy_before: copy_before {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp HOME &kp LS(END) &kp LC(C)>;
            label = "COPY_BEFORE";
        };

        copy_line: copy_line {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LS(HOME) &kp LC(C)>;
            label = "COPY_LINE";
        };

        copy_after: copy_after {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LS(END) &kp LC(C)>;
            label = "COPY_AFTER";
        };
    };

    // -------- Behaviors --------

    behaviors {
        scroll_up_down: behavior_sensor_rotate_mouse_wheel_up_down {
            compatible = "zmk,behavior-sensor-rotate";
            #sensor-binding-cells = <0>;
            bindings = <&msc SCRL_UP>, <&msc SCRL_DOWN>;

            tap-ms = <20>;
        };

        scroll_right_left: mouse_wheel_right_left {
            compatible = "zmk,behavior-sensor-rotate";
            #sensor-binding-cells = <0>;
            bindings = <&msc SCRL_LEFT>, <&msc SCRL_RIGHT>;

            tap-ms = <20>;
        };

        tab_switcher: tab_switcher {
            compatible = "zmk,behavior-sensor-rotate";
            #sensor-binding-cells = <0>;
            bindings = <&kp LC(PAGE_UP)>, <&kp LC(PAGE_DOWN)>;

            tap-ms = <20>;
        };

        alt_tab: alt_tab {
            compatible = "zmk,behavior-sensor-rotate";
            #sensor-binding-cells = <0>;
            bindings = <&kp TAB>, <&kp LS(TAB)>;

            tap-ms = <20>;
        };

        // --- JIS Key Mod Morph Behaviors ---
        jis_CRT_TLD: jis_CRT_TLD {
            compatible = "zmk,behavior-mod-morph";
            label = "^ ~";
            #binding-cells = <0>;
            bindings = <&kp JP_CARET>, <&kp JP_TILDE>;

            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        jis_YEN_PIP: jis_YEN_PIP {
            compatible = "zmk,behavior-mod-morph";
            label = "\\ |";
            #binding-cells = <0>;
            bindings = <&kp JP_YEN>, <&kp JP_PIPE>;

            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        jis_AT_BKQ: jis_AT_BKQ {
            compatible = "zmk,behavior-mod-morph";
            label = "@ `";
            #binding-cells = <0>;
            bindings = <&kp JP_AT>, <&kp JP_BACKQUOTE>;

            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        jis_CLN_AST: jis_CLN_AST {
            compatible = "zmk,behavior-mod-morph";
            label = "CLN AST";
            #binding-cells = <0>;
            bindings = <&kp JP_COLON>, <&kp JP_ASTERISK>;

            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        jis_YEN_UNS: jis_YEN_UNS {
            compatible = "zmk,behavior-mod-morph";
            label = "\\ _";
            #binding-cells = <0>;
            bindings = <&kp JP_YEN>, <&kp JP_UNDERSCORE>;

            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        jis_LBK_LBT: jis_LBK_LBT {
            compatible = "zmk,behavior-mod-morph";
            label = "LBK LBT";
            #binding-cells = <0>;
            bindings = <&kp JP_LBRACKET>, <&kp JP_LBRACE>;

            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        jis_RBK_RBT: jis_RBK_RBT {
            compatible = "zmk,behavior-mod-morph";
            label = "RBK RBT";
            #binding-cells = <0>;
            bindings = <&kp JP_RBRACKET>, <&kp JP_RBRACE>;

            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        tog_off: toggle_layer_off {
            compatible = "zmk,behavior-toggle-layer";
            #binding-cells = <1>;
            display-name = "Toggle Layer Off";
            toggle-mode = "off";
        };

        mt_exit_AML: mt_exit_AML_on_tap {
            compatible = "zmk,behavior-hold-tap";
            label = "MT_exit_AML_ON_TAP";
            bindings = <&kp>, <&kp_exit_AML>;

            #binding-cells = <2>;
            tapping-term-ms = <250>;
            flavor = "balanced";
            quick-tap-ms = <175>;
            require-prior-idle-ms = <150>;
        };
    };

    // -------- Keymaps --------

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
&kp Q                  &kp W         &kp E         &kp R                               &kp T                                          &kp Y        &kp U  &kp I      &kp O       &kp P
&lt 1 A                &kp S         &kp D         &kp F                               &kp G        &mkp MB1           &kp ESC        &kp H        &kp J  &kp K      &kp L       &lt 6 SEMICOLON
&mt_exit_AML LSHIFT Z  &kp X         &kp C         &kp V                               &kp B        &kp LSHIFT         &kp RSHIFT     &kp N        &kp M  &kp COMMA  &kp PERIOD  &mt RIGHT_SHIFT SLASH
&kp LCTRL              &kp LEFT_WIN  &kp LEFT_ALT  &mt_exit_AML LEFT_ALT INT_MUHENKAN  &lt 6 SPACE  &lt 2 JP_HANZEN    &kp BACKSPACE  &lt 3 ENTER                                &mt RIGHT_CONTROL DEL
            >;

            sensor-bindings = <&scroll_up_down>;
        };

        symbols {
            bindings = <
&kp EXCLAMATION  &kp JP_DQUOTE  &kp HASH  &kp DOLLAR  &kp PERCENT                                       &kp JP_LPAREN  &kp JP_RPAREN   &kp MINUS          &jis_CRT_TLD  &jis_YEN_PIP
&trans           &trans         &trans    &trans      &kp JP_AMPERSAND &trans             &kp JP_QUOTE  &jis_LBK_LBT   &jis_RBK_RBT    &kp JP_PLUS        &jis_AT_BKQ   &jis_CLN_AST
&trans           &trans         &trans    &trans      &trans           &kp DEL            &kp INSERT    &trans         &trans          &kp JP_UNDERSCORE  &trans        &trans
&trans           &trans         &trans    &trans      &trans           &trans             &trans        &trans                                                          &trans
            >;

            sensor-bindings = <&tab_switcher>;
        };

        funcs_numpad {
            bindings = <
&kp F1   &kp F2   &kp F3           &kp F4      &kp F5                             &kp JP_ASTERISK  &kp N7  &kp N8  &kp N9  &kp JP_PLUS
&kp F6   &kp F7   &kp F8           &kp F9      &kp F10   &trans        &trans     &kp SLASH        &kp N4  &kp N5  &kp N6  &kp MINUS
&kp F11  &kp F12  &trans           &trans      &trans    &kp LG(LA(K)) &trans     &kp N0           &kp N1  &kp N2  &kp N3  &kp N0
&trans   &trans   &kp PRINTSCREEN  &trans      &trans    &trans        &trans     &trans                                   &trans
            >;

            sensor-bindings = <&alt_tab>;
        };

        arrow {
            bindings = <
&trans  &kp LC(LS(TAB))     &kp PRINTSCREEN         &kp LC(TAB)              &trans                                 &trans  &kp HOME        &kp UP_ARROW    &kp PAGE_UP      &trans
&trans  &kp LG(LEFT_ARROW)  &kp LG(RIGHT_ARROW)     &kp LC(LG(LEFT_ARROW))   &kp LC(LG(RIGHT_ARROW))  &kp HOME      &trans  &trans  &kp LEFT_ARROW  &kp DOWN_ARROW  &kp RIGHT_ARROW  &trans
&trans  &kp LEFT_SHIFT      &kp LG(LS(LEFT_ARROW))  &kp LG(LS(RIGHT_ARROW))  &trans                   &trans        &trans  &trans  &kp END         &kp DOWN_ARROW  &kp PAGE_DOWN    &trans
&trans  &trans              &trans                  &trans                   &trans                   &trans        &trans  &trans                                                   &trans
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_DN C_VOL_UP>;
        };

        mouse {
            bindings = <
&trans  &trans  &trans  &trans  &trans                      &trans  &trans    &trans    &trans    &trans
&trans  &trans  &trans  &trans  &trans  &trans      &trans  &trans  &mkp MB1  &mkp MB3  &mkp MB2  &trans
&trans  &trans  &trans  &trans  &trans  &trans      &trans  &trans  &trans    &trans    &trans    &trans
&trans  &trans  &trans  &trans  &trans  &trans      &trans  &trans                                &trans
            >;

            sensor-bindings = <&tab_switcher>;
        };

        bluetooth {
            bindings = <
&trans  &trans  &trans  &trans  &trans                              &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4
&bt BT_CLR      &trans  &trans  &trans  &trans  &trans      &trans  &trans        &trans        &trans        &trans        &trans
&bt BT_CLR_ALL  &kp N1  &kp N2  &kp N3  &trans  &trans      &trans  &trans        &trans        &trans        &trans        &trans
&trans          &trans  &trans  &trans  &trans  &trans      &trans  &trans                                                  &trans
            >;
        };

        scroll {
            bindings = <
&trans  &trans  &trans  &trans  &trans                    &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans                          &trans
            >;

            sensor-bindings = <&scroll_right_left>;
        };
    };
};
